.background-container {
    position: relative;
    width: 100vw;
    height: 130vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent; /* Light color overlay */
    backdrop-filter: blur(7px); /* Stronger blur effect for clarity */
}

.content {
    position: relative;
    z-index: 2; /* Ensures elements are above the overlay */
    text-align: center;
    width: 100%;
    padding: 20px;
}
