/* Basic styling for the Explore component */
.explore-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top:30px;

    
  }
  
  h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width:1300px;
  }
  
  .search-bar input {
    width: 80%; /* Make the search bar wide */
    max-width: 700px;
    padding: 12px;
    font-size: 1.2em;
    border: none;
    color:black;
    border-radius: 50px;
    outline: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .search-bar input:focus {
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  }
  
  .search-bar button {
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    padding: 12px;
    margin-left: -40px; /* Position the button inside the input */
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    width:50px;
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  
  .results {
    margin-top: 20px;
  }
  
  .result-item {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 1.2em;
    text-align: left;
  }
  
  .result-item:hover {
    background-color: #e9ecef;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
  }
  