
.recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: white;
    max-width: 50%;
    margin: auto;
    margin-left:350px;
}

/* Large Recipe Image */
.recipe-details img {
    width: 90%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Ingredients and Steps Section */

.recipe-details h3 {
    text-align: left;
    font-size: 28px;
    margin-bottom: 20px;
}

.recipe-details h4 {
    font-size: 22px;
    margin-top: 20px;
}

.recipe-details ul,
.recipe-details ol {
    font-size: 18px;
    margin-top:-10px;
    padding: 0 20px;
    line-height: 1.6;
    text-align: left;
}
.detail-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

/* Back Button */

.back-button {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background: #ff6666;
    color: white;
    padding: 8px 14px;
    margin-left:-10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

.back-button:hover {
    background: #e05555;
    color:white;
}

